* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 97, 229);
}

.link {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.flex {
    display: flex;
    width: 100vw;
    height: 300px;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 7vh;
}

.child1 {
    border: 2px solid black;
  width: 48vw;
  height: 100px;

}

.child2 {
    border: 2px solid blue;
    width: 48vw;
   height: 100px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: none;

}

.hamburger>span {
    height: 6px;
    width: 25px;
    border-radius: 10px;
    background-color: black;
}

@media (max-width: 480px) {
    .hamburger {
        display: flex;
    }

    .link {
        display: none;
    }

    .navbar:has(.hamburger:hover) .link {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 2px solid black;
        right: 17px;
     
        top: 60px;
    }
      .flex{
        flex-direction: column;
        gap: 3vh;
        margin-left: 5vw;
    }
      .child1{
        width: 90vw;
    }
    .child2{
        width: 90vw;
    }
}
@media (min-width : 481px)  and (max-width : 760px){
    .flex{
        flex-direction: column;
        gap: 3vh;
        margin-left: 5vw;

    }
    .child1{
        width: 90vw;
    }
    .child2{
        width: 90vw;
    }
}