*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo{
    width: 10vw;
}
.contain{
    display: flex;
    height: 7vh;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding-top: 1vh;
    height: 6vh;
    background-color: white;
    box-shadow: 1px 1px 1px black;
 
    border-radius: 10px;
    /* position: fixed; */
    width: 99vw;
    
}
.three_line span{
    height: 3px;
    width: 1vw;
    background-color: black;
    
}
.three_line{
display: flex;
flex-direction: column;
    gap: 3px;
}
.dropdown{
    display: flex;
    gap: 1vw;
    margin-left: 1vw;
}
.container{
    margin-top: 40vh;
    width: 55vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 20px black;
    padding: 30px;
    gap: 3vh;
     border-radius: 10px;
}
.card{
    display: flex;
    /* height: 20vh; */
    gap: 1vw;
    width: 100%;
    margin-bottom: 4vh;
}
.box2{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .7vh;
}
.image{
    height: 240px;
    width: 350px;
    border-radius: 1vh;
}
.paragraph{
    color: rgb(50, 47, 47);
}
.btn{
    width: 7vw;
    height: 4vh;
    margin: auto;
    border: none;
    border-radius: 4px;
    background: linear-gradient(rgb(239, 237, 190), rgb(243, 211, 194));
}
.top-nav {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    gap: 36vw;
    align-items: center;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.logo img {
    width: 160px;
}

.app-bar {
    margin-top: 2vh;
    background: #f44336;
    color: white;
    padding: 12px 20px;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
       margin-bottom: 6vh;
}

.store-buttons {
    display: flex;
    gap: 10px;
}

.store-img {
 width: 160px;
}