
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 97, 229);
}

.link {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}
.link p{
    cursor: pointer;
}


.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    display: none;

}

.hamburger>span {
    height: 6px;
    width: 25px;
    border-radius: 10px;
    background-color: black;
}
.container{
    margin-top: 4vh;
    border: 2px solid black;
    display: grid;
    padding:7px;
 background-color: black;
    /* grid-template-columns: 150px 150px 150px;
    grid-template-rows: 200px 200px 200px; */

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 200px 200px 200px ;
    grid-auto-rows: 200px;
    /* grid-template-columns:  1fr 45% 100px; */
    /* grid-template-columns: repeat(2, 200px) minmax(100px, auto); */
    /* grid-template-rows: repeat(3 , 300px); */
    /* gap : 4vw 1vh; */
    /* same as gap  */
    row-gap: 4vw;
    column-gap: 1vh;
}
.container .box1{
    /* grid-column: 1/4;   same as */
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.container .box2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.container .box3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2/4;
}
.container .box4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box5{
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box6{
    grid-column-start: 1;
    grid-column-end: 2;
}
.container .box7{
    grid-row: 4/6;
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box8{
    grid-column-start: 1;
    grid-column-end: 2;
}
.container .box9{
    grid-column-start: 1;
    grid-column-end: 4;
}
 .container p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
@media (max-width: 480px) {
    .hamburger {
        display: flex;
    }

    .link {
        display: none;
    }

    .navbar:has(.hamburger:hover) .link {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 2px solid black;
        right: 17px;
        top: 60px;
    }

    .container .box1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box2{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box3{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box4{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box5{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box6{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box7{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box8{
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box9{
    grid-column-start: 1;
    grid-column-end: 4;
}
}
@media (min-width : 481px)  and (max-width : 760px){
 .container .box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/3;
}
.container .box2{
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box3{
    grid-row: 2/4;
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box4{
    grid-column-start: 1;
    grid-column-end: 2;
}
.container .box5{
    grid-row: 4/5;
    grid-column-start: 1;
    grid-column-end: 4;
}
.container .box6{
    grid-row: 5/7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.container .box7{
    grid-row: 5/6;
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box8{
    grid-row: 6/7;
    grid-column-start: 2;
    grid-column-end: 4;
}
.container .box9{
    grid-row: 7/8;
    grid-column-start: 1;
    grid-column-end: 4;
}
}