body {
    background-color: rgb(125, 137, 192);
    /* background: linear-gradient( to right); */
    z-index: -2;
}

.container {
    background-color: white;
    width: 450px;
    margin: auto;
    border-radius: 20px;
    height: 800px;
    margin-top: 10px;
    /* border: 2px solid black; */
    text-align: center;
    font-family: sans-serif;
    margin-top: 60px;
    box-shadow: -6px 4px 30px rgb(16, 8, 8);
    padding-top: 20px;
    z-index: 1;
  
}
.video{
  position: absolute;
  top: 0;
  left: 0;
    z-index: -1;
    display: none;
    width: 100vw;
    margin-top: 10px;
    
}
h1 {
    color: rgb(137, 115, 158);
    font-family: sans-serif;

}

p {
    color: gray;
}

#timer {
    color: rgb(125, 137, 192);
    font-weight: 600;
    font-size: 38px;
}

.score-section {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.score-box {
    width: 190px;
    height: 120px;
    border-radius: 26px;
    color: white;
    background-color: rgb(125, 137, 192);
    ;
}

.timer-section {
    height: 120px;
    border-radius: 10px;
    margin-top: 20px;
    width: 400px;
    background-color: rgb(242, 242, 242);
    margin-left: 30px;
    padding-top: 7px;
}

.button-section {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#currentScore {
    font-size: 30px;
}

#highScore {
    font-size: 30px;
}

#timer {
    font-size: 34px;
}

#clickButton:disabled {
    background-color: rgb(188, 188, 188);
}

#clickButton:enabled {
    background-color: black;
    cursor: pointer;
}

#clickButton {
    height: 70px;
    width: 400px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 15px;
    color: white;
    border: none;
   cursor:not-allowed;
    /* cursor: pointer; */
    background-color: rgb(188, 188, 188);
}

#clickButton:hover {
    transform: scale(1.03);
    box-shadow: -2px 2px 12px rgb(151, 150, 150);
}

#startButton:hover {
    transform: scale(1.03);
    box-shadow: -2px 2px 12px rgb(151, 150, 150);
}

#resetButton:hover {
    transform: scale(1.03);
    box-shadow: -2px 2px 12px rgb(151, 150, 150);
}

#startButton {
    height: 60px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: lightblue;
    color: white;
    font-size: 19px;
}

#resetButton {
    height: 50px;
    width: 400px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    font-size: 19px;
    border-radius: 15px;
}

#statusMessage {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.button_pause{
margin-top: 20px;
}
.button_to_pause{
    width: 170px;
    border: none;
    height: 40px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: rgb(116, 174, 116);
}
#resume_button:disabled{
cursor: not-allowed;
}
#resume_button:enabled{
cursor: pointer;
}